.anuncios{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-area: anuncios;
  background: #fafbfc;
  align-content: start;
  padding: 30px;
  gap: 30px;
}