.sidenav{
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a{
  display: block;
  min-width: 60px;
  max-width: 200px;
  margin: 0 auto 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: .2s ;
}
.sidenav li a:hover{
  background: #b07dfb;
}

