.sidenav{
  grid-area: sidenav;
  background: var(--bg-primary);
  padding: 30px;
}

.sidenav li a{
  display: block;
  min-width: 100px;
  max-width: 200px;
  margin: 0 auto 30px auto;
  background-color: var(--text-light);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: .2s ;
}
.sidenav li a:hover{
  background: var(--purple-primary);
}
@keyframes seta{
  from{
    right: 30px;
  }
  to{
    right: 20px;
  }
}
@media(max-width:760px){
  .sidenav{
    padding: 0 30px;
    overflow-x: auto;
    --webkit-overflow-scrolling: touch;
    --ms-overflow-style: -ms-autohinding-scrollbar;
    position: relative;
  }
  .sidenav::after{
    content: '→';
    position: absolute;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.4);
    animation: seta .5s ease-in 0s infinite alternate;
  }
  .sidenav ul{
    display: flex;
  }
  .sidenav li {
    flex: 1 0 60px;
  }
  .sidenav li a{
    margin: 30px 30px 30px 0;
  }
  
}

