:root{
  --text-light:#fff;
  --bg-primary:#fafbfc;
  --gradient:linear-gradient(135deg, #8844ee, #b07dfb);
  --purple-primary:#b07df8;
}

.estrutura{
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
  "header    header    header"
  "sidenav   content   anuncios"
  "footer    footer    footer"
  ;
}

.col-wide{
  grid-column: 1 / -1;
}

